@{
    ViewData["Title"] = "Home Page";
    ViewData["country_page"] = "active";
    ViewData["city_page"] = "";
    ViewData["weather_page"] = "";
}

<h2>Weather Situation Over Countries</h2>

<div>    
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link @ViewData["country_page"]" id="profile" href="/home/index">Countries</a></li>
                <li class="nav-item"><a class="nav-link @ViewData["city_page"]" id="email" href="/home/cities">Cities</a></li>
                <li class="nav-item"><a class="nav-link @ViewData["weather_page"]" id="change-password" href="/home/weather">Weather</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <h4>Country Lists</h4>

            <div class="row">
                <div class="col-md-6">
                    <form id="profile-form" method="post">

                        <table class="table" id="TableCountries">
                            <thead>
                                <tr>
                                    <th scope="col">Country name</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $.ajax({
            type: 'GET',
                url: 'https://localhost:44305/home/get-countries',
                data: '',
                dataType: 'JSON',
                success: function(data){
                    $.each(data, function(index, value){
                        var table_row = $('<tr>', {});
                        var table_cell = $('<td>', {html: value.countryName});
                        table_row.append(table_cell);
                        $('#TableCountries tbody').append(table_row);
                    })
                },
                error: function(data){}
        });
    </script>
}